<app-my-header name="Лабораторна робота №2"></app-my-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Продажі за перший тиждень</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-card *ngFor="let good of goods.filter_week()[0]; index as i">
          <ion-card-header>
            <ion-card-title>{{ good.date | date: 'dd MM yyyy' }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label>Кількість товарів ({{good.n_goods}})</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Заробіток ({{good.cash+good.credit}})</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Продажі за другий тиждень</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-card *ngFor="let good of goods.filter_week()[1]; index as i">
          <ion-card-header>
            <ion-card-title>{{ good.date | date: 'dd MM yyyy' }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label>Кількість товарів ({{good.n_goods}})</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Заробіток ({{good.cash+good.credit}})</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Продажі за третій тиждень</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-card *ngFor="let good of goods.filter_week()[2]; index as i">
          <ion-card-header>
            <ion-card-title>{{ good.date | date: 'dd MM yyyy' }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label>Кількість товарів ({{good.n_goods}})</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Заробіток ({{good.cash+good.credit}})</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Продажі за четвертий тиждень</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-card *ngFor="let good of goods.filter_week()[3]; index as i">
          <ion-card-header>
            <ion-card-title>{{ good.date | date: 'dd MM yyyy' }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label>Кількість товарів ({{good.n_goods}})</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Заробіток ({{good.cash+good.credit}})</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-list>
    </ion-card-content>
  </ion-card>

  
  <canvas #lineCanvas></canvas>
</ion-content>
